:root {
    --pink: rgb(254, 156, 205);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style:solid;
}

.line-over-nav, .line-below-nav {
    border: 1px solid var(--pink);
}

.line-over-nav {
    margin-bottom: 25px;
    margin-top: 50px;
}

.line-below-nav {
    margin-top: 20px;
}

.side-bars{
    position: relative;
}

.dashed-line, .solid-line {
    border-left: 3px solid var(--pink);
    height: 1500px;
    position: absolute;
    top: 0%;
}

#line-0{
    left: 4%;
    border-left-style: dashed;
}

#line-1{
    left: 5%
}

#line-2 {
    left: 6%
}

#line-3 {
    right: 4%;
    border-left-style: dashed;
}

#line-4 {
    right: 5%
}

#line-5 {
    right: 6%
}

