.side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 202;
    padding-top: 5px;
}

.sidebar-link {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(231, 230, 230);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 10px;

}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 8px;
}