p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.pro-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.mutual-pf {
    width: 30px;
    border-radius: 50px;
}

.mutual-friends {
    margin-left: 3px;
    font-size: 18px;
    vertical-align: top;
    color: rgb(96, 96, 96);
    align-items: center;
}

.profile-card {
    border: none;
    box-shadow: 0px 0px 10px rgb(150, 150, 150);
    width: 250px;
    height: 385px;
    margin-bottom: 100px;
    margin-right: 15px;
    margin-top: 100px;
}

.pf {
    width: 100%;
    object-fit: cover;
}

.user-info {
    margin-left: 10px;
}

.addFriend {
    margin-top: 10px;
    background-color: rgb(73, 125, 248);
    color: white;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}

.addFriend:hover {
    background-color: rgb(108, 150, 248);
}

.name {
    font-size: 20px;
    font-weight: 700;
}
.user-name {
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}