.img1{
    width: 200px;
    border-radius: 20px;
}

.img2{
    width: 300px;
    height: 300px;
    object-fit: fill;
    object-position: center;
}

.img3{
    border-radius: 300px;
}

.search {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(172, 172, 172);
}

.search2 {
    width: 300px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    border-radius: 14px;
    box-shadow: 0px 2px 10px rgba(0,0, 0, 0.25);
}

.email{
    margin-bottom: 10px;
    color: grey;
}

.search3{
    margin-top: 0px;
    margin-bottom: 20px;
    width:370px;
    height:27px;
    border: solid black;
    border-width: 2px;
    border-radius: 4px;
}

.policy {
    margin-top: 0px;
    margin-bottom: 15px;
    color: gray;
}

.signup {
    background-color: rgb(36, 108, 217);
    color: white;
    border: none;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 136px;
    padding-right: 136px;
    border-radius: 20px;

}

.profile{
    width: 60px;
    border-radius: 200px;
    vertical-align: middle;
}

.twt {
    vertical-align: middle;
    border: none;
    font-size: medium;
    margin-left: 5px;
}

.post{
    background-color: rgb(69, 179, 253);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.s {
    display: block;
}

p {
    display: inline-block;
    width: 200px
}
